.product-card {
    width: 167px;
    margin-bottom: 16px;
    .item-portrait-content {
        width: 100%;
        .portrait-image {
            width: 100%;
            border-radius: 4px;
            height: auto;
            overflow: hidden;
        }
    }
    .item-card-bottomContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .item-tagDes {
            font-size: 12px;
            color: #fe7100;
            height: 16px;
            line-height: 16px;
            margin-top: 8px;
            .info-sup {
                font-size: 9px;
                position: relative;
                margin-left: 1px;
                top: -2px;
                margin-right: 4px;
            }
        }
        .item-detailDes {
            font-size: 14px;
            font-weight: bold;
            color: #333333;
            margin: 4px 0;
            line-height: 20px;
        }
    }

    .card-statistic {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 16px;
        line-height: 16px;
        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 14px;

            &__icon {
                background: #eee;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                flex-grow: 0;
                flex-shrink: 0;
                margin-right: 3px;
            }
            &__text {
                font-size: 11px;
                color: #999;
            }
        }
    }
}
